.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2500;
	background-color: rgba($color-black, 0.3);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	backdrop-filter: blur(10px);

	&__content {
		@include absCenter;

		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.25);
		transition: all 0.4s 0.2s;
	}

	&__left {
		width: 33.333333%;
		display: table-cell;
	}

	&__right {
		width: 66.666667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-gray-light-2;

		-webkit-hyphens: auto;
		hyphens: auto;
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&:link,
		&:visited {
			color: $color-gray-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all 0.2s;
			line-height: 1;
		}

		&:hover {
			color: $color-primary;
		}
	}
}
